@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .gradient-text-hover {
    @apply hover:bg-gradient-to-r hover:from-[#ff8a05] hover:to-[#f9b331] hover:bg-clip-text hover:text-transparent hover:[text-shadow:0_0_18px_rgba(248,190,42,0.8)];
  }
  .gradient-text-active {
    @apply bg-gradient-to-r from-[#ff8a05] to-[#f9b331] bg-clip-text text-transparent;
  }
  .gradient-text {
    @apply bg-gradient-to-r from-[#ff8a05] to-[#f9b331] bg-clip-text text-transparent;
  }
  .hero-btn {
    @apply inline-block py-[0.5rem] px-[1rem] bg-gradient-to-r from-[#f9572a] to-[#ff9b05] font-bold text-white hover:bg-gradient-to-r hover:from-[#fd4715] hover:to-[#f9b241] rounded-md;
  }

  .hero-btn-transparent {
    @apply inline-block py-[0.5rem] px-[1rem] bg-transparent text-[#f9b241] font-normal;
  }

  .error {
    @apply mt-[5rem] text-center;
  }

  .error h1 {
    @apply text-[5rem] font-[900] text-[#262626] uppercase bg-gradient-to-r from-[#f9572a] to-[#ffc905] bg-clip-text text-transparent bg-cover bg-center;
  }

  .error p {
    @apply text-[1.5rem] font-[500] text-[#ddd8d8];
  }

  .form-input {
    @apply block w-full py-[0.5rem] px-[1rem] rounded-[4px] border border-[#454952] bg-[#1c2027] text-[1.25rem] text-[#ddd6cb] focus:outline-[#f99f2a] focus:bg-[#1f252d];
  }
}

@keyframes fade-slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-in-from-right {
  0% {
    opacity: 0;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-slide-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-slide-in-from-bottom {
  animation: fade-slide-in-from-bottom 1s ease-out forwards;
}
